
body{
  font-family: Arial,sans-serif;
}

.links{
    display: flex;
    justify-content: flex-end;
    margin:20px;
}

a{
    text-decoration: none;
    padding: 5px;
    color:black;
}

.imagem{
    margin-top: 145px;
    padding-bottom: 16px;
    text-align: center;
    object-fit: contain;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    margin: 20px;

}

.btn>button{
    padding:10px;
    margin:10px;
    border-radius: 8px;
    border:1px solid transparent;
}
button:hover{
    border: 1px solid black;
}

#icon-search{
 
    display: flex;
    border-radius: 25px;
    border: 1px solid #afafaf;
    align-items: center;
    padding-left: 10px;
    height: 45px;
    width: 50%;

} 

#icon-search>input{
    border:none;
    padding-left: 10px;
    width: 100%;
    font-size: 1em;

}
input:focus{
    outline: none;
}

.links-adv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: ghostwhite;
}

.inputs .label-input{
    display: flex;
    align-items: center;
    margin-left: 30px;
    padding: 10px 0;

}
.inputs .label-input label {
    width: 16%;
    font-size: 14px;
  }

input[type=text] {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    height: 25px;
    width: 50%;
}

.btn-ad{
    display: flex;
    justify-content: flex-end;
    width: 67.5%;
}

.btn-ad > input{
    border-radius: 2px;
    border: none;
    height: 30px;
    background-color: #4D90FE;
    color: white;
    margin: 10px 0px;
    padding: 0px 12px;
    min-width: 120px;
}

.inputs .label-input .explain {
    font-size: 12px;
    width: 30%;
    margin-left: 1%;
  }

  .subt{
      display: flex;
      margin-top: 50px;
      margin-left: 30px;
  }
 




